*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(43, 172, 231);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    color: white;
    text-align: center;
    margin-top: 40px;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.329);
    border-radius: 15px;
    margin: auto;
    margin-top: 10px;
    width: 500px;
    height: 400px;
    padding: 15px;
    background-color: rgb(11, 85, 95);
}

@media (max-width: 542px){
    section{
        width: 300px;
    }

    div#msg{
        font-size: 11px;
    }
}

div#caixa-horas{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
}

div#caixa-horas > p{
    margin-right: 20px;
}

#caixahr{
    width: 100px;
    padding: 8px;
    border-radius: 9px;
    border: none;
    text-align: center;
    margin-right: 10px;
}

#botão{
    padding: 8px;
    border-radius: 9px;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


div#msg{
    text-align: center;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    margin-bottom: 30px;
}

img{
    display: none;
    margin-bottom: 20px;
    width: 250px;
    height: 250px;
    border-radius: 100%;
}


footer{
    width: 150px;
    text-align: center;
    margin: auto;
    font-style: italic;
    color: white;
    margin-top: 10px;
}