*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(45, 137, 190);
    font-family: Arial, Helvetica, sans-serif;
}

header{
    color: white;
    text-align: center;
    margin-top: 40px;
}

section{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.329);
    border-radius: 15px;
    margin: auto;
    margin-top: 10px;
    width: 500px;
    height: 400px;
    padding: 15px;
    background-color: rgb(255, 255, 255);
}

#conteiner{
    display: flex;
    align-items: center;
    position: relative;
    width: 420px;
    border-radius: 10px 0px;
    border: 1px solid black;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.342);
    top: 50px;
    left: 20px;
    padding: 20px;
}

#botao{
    width: 100px;
    padding: 5px;
    border-radius: 9px;
    border: none;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.356);
    font-size: 13px;
}

#botao:hover{
    transition: 0.5s;
    padding: 7px;
}

#res{
    
    position: relative;
    top: 80px;
    left: 20px;
}

footer{
    text-align: center;
    margin-top: 10px;
}

p{
    margin-bottom: 20px;
}

#res{
    width: 200px;
    margin: auto;
    text-align: center;
    height: 180px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.356);
    font-size: 14px;
}



